body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #444444;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
}

* {
    touch-action: manipulation;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.frame {
    top: 0;
    position: absolute;
    left: 0;
    padding: 1rem;
}

#c {
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    left: 0;
}

.controls {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.options {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-flow: row wrap;
}

.option {
    background-size: cover;
    background-color: white;
    padding: 20px;
    height: 50px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.option * {
    pointer-events: none
}

.option.--is-active {
    background-color: red;
    color: white;
    padding: 20px;
    width: 150px;
    cursor: default;
}

.info {
    padding: 0 1em;
    display: flex;
    justify-content: flex-end;
}


.tray {
    width: 100%;
    height: 50px;
    position: relative;
    overflow-x: hidden;
}

.tray__slide {
    position: absolute;
    display: flex;
    left: 0;
}

.tray__swatch {
    transition: 0.1s ease-in;
    height: 50px;
    min-width: 50px;
    flex: 1;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    background-size: cover;
    background-position: center;
}

.tray__swatch:nth-child(5n+5) {
    margin-right: 20px;
}

.drag-notice {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    width: 10em;
    height: 10em;
    box-sizing: border-box;
    font-size: 0.9em;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    border-radius: 5em;
    background: white;
    position: absolute;
}

.drag-notice.start {
    -webkit-animation: popout 0.25s 3s forwards;
    animation: popout 0.25s 3s forwards;
}

@-webkit-keyframes popout {
    to {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@keyframes popout {
    to {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@-webkit-keyframes wheelin {
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes wheelin {
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
